body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jedi-image {
  position: absolute;
  left: -30px;
  opacity: 0.5;
  width: 200px;
  height: auto;
}

.post {
  overflow: hidden;
  padding-left: 80px;
}

.card-title {
  font-weight: 900;
  color: black;
  font-size: 1.0rem;
  width: 100%;
}
